html,
body,
#mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.chartsDiv {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  top: 0px;
  right: 0px;
  width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 98vh;
}

#mapDiv {
  position: relative;
}

#monthly-volume-chart svg g g.axis.y { 
  display: none; 
}

.white-hr {
  border-top: 1px solid #fff;
}

#overlayPane {
  height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
  background-color: #fff;
}

#containerDiv {
	height: 100%;
}

svg g title {
  background-color: #000;
  color: #fff;
}

.legendDiv {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  overflow: none;
}

svg {
  overflow: visible !important;
}
