html,
body,
#mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-side {
  width: 300px;
  height: 125px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: none;
  z-index: 60;
}

.panel-side h2 {
  padding: 0 10px 0 25px;
  margin: 20px 0 0 0;
}

.modeSelector {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
}

.modeBtn {
  background-color: #fff;
  border: 1px solid #000;
  display:inline-block;
  *display:inline; /*IE7*/
  padding: 2px 10px;
  margin: 1px;
  height: 32px;
  width: 32px;
  opacity: 0.6;
}

.modeBtn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.modeBtn i {
  color: #000;
  padding-top: 6px;
}

#infoDiv {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  top: 110px;
  right: -40px;
  width: 300px;
  padding-left: 25px;
  overflow: none;
}

#modeSelector input, #severitySelector input {
  display: none;
}

#modeSelector {
  position: relative;
  width: 100%;
  height: 50px;
  display: inline-block;
  text-align: center;
  right: 25px;
}

#modeSelector .modeIcon {
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
  padding: 15px;
  margin: 2px;
}

#modeSelector .modeIcon:hover {
  background-color: rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

#modeSelector input:checked + .modeIcon {
  border: 1px solid #fff;
  background-color: rgba(255, 165, 0, 1);
}

#severitySelector {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
}

#severitySelector .severitySpan {
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
  padding: 3px;
}

#severitySelector label {
  margin-bottom: 10px;
  font-size: 12px;
}

#severitySelector .severitySpan:hover {
  background-color: rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

#severitySelector input:checked + .severitySpan {
  border: 1px solid #fff;
  background-color: rgba(255, 165, 0, 1);
}

#dateSelector {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
}

#dateSelector input {
  width: 70%;
}

#dateSelector p {
  font-size: 12px;
}

#totalNumber {
  height: 25px;
}

#filterByDateBtn {
  width: 50%;
}
