html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

#containerDiv {
	height: 100%;
}

#participationMapDiv {
	height: 100%;
	width: 100%;
	/* margin: 0 auto; */
	order: 1;
}

.legendDiv {
	/* max-width: 300px; */
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.25);
	font-size: 14px;
}

.leaflet-popup-content {
	line-height: 1;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-tooltip {
	background-color: rgba(0, 0, 0, 0.75);
	/* background-color: rgba(63, 144, 167, 0.85); */
	color: #fff;
}

.leaflet-popup-content-wrapper, .leaflet-tooltip {
	border-radius: 3px;
}

.leaflet-tooltip {
	border: 0px;
	margin: 0;
	padding-bottom: 0;
}

#sideBarDivId {
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0;
}

#sideBarDivId a {
	color: #000;
}

.streetViewImagery {
	width: 100%;
	height: 300px;
}

.leaflet-container {
	font-family: 'Roboto', sans-serif;
}

.legendItem {
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	opacity: 1;
}

.legendItem:hover {
	opacity: 0.5;
}

#drawingSurveyForm label {
	font-size: 16px;
}

.highlightedBlockText {
	color: #fff;
	background-color: #1871bd;
	padding: 10px;
	width: 100%;
}

.greyBackground {
	padding: 2px 2px 2px 5px;
	margin: 0px;
	background-color: #888;
	color: #fff;
}

.redBackground {
	color: #fb4d42;
}

.blueColor {
	color: #1871bd;
}

.introDivContainer p {
	margin-bottom: 0;
}

.noStyling {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.access-ranges {
	margin: 5px 0px 0px 8px;
	width: 90%;
}

.addScroll {
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.weightValues {
	width: 40px;
}

.noDecoration {
	text-decoration: none;
}

#transportation-range {
	background: linear-gradient(to right, #000, #59355e, #1871BD, #FFAE00);
}

#transportation-range > div{
	background: rgba(0, 0, 0, 0);
}

#mobility-range {
	background: linear-gradient(to right, #000, #59355e, #1871BD, #FFAE00);
}

#mobility-range > div{
	background: rgba(0, 0, 0, 0);
}

#overlayPane {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#fullScreen {
	height: 100vh;
}

.overlayLogo {
	max-height: 12vh;
}

.overlaySlider {
	opacity: 0.5;
}

.overlaySlider:hover {
	opacity: 0.9;
	transition: opacity 1s;
}

.topCheckboxes {
	font-family: 'Roboto', sans-serif;
}

input.radio {
	background: #000;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#ieWarning {
		display: block !important; 
	}
}

.introDivContainer {
	background-color: rgba(255, 255, 255, 0.95);
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	overflow-y: auto;
	font-size: 14px;
	max-height: 95vh;
}

@media (min-width: 768px) {
	.introDivContainer {
		width: 350px;
	}
}

@media (max-width: 768px) {
	.introDivContainer {
		width: 95vw;
		margin-top: 56px;
	}
}

.nav-link {
	height: 50px;
	border-bottom: 1px solid #ccc;
}

/* .introDivContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.introDivContainer::-webkit-scrollbar-thumb {
  background-color: #555;
}

.introDivContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 63, 89, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 63, 89, 0.3);
  background-color: #F5F5F5;
} */

.sidebarHR {
	border-top: 1px solid #fff; 
	color: #fff;
}